[Desktop Entry]
Name=Lightshot
Exec=env WINEPREFIX="/config/.wine" wine C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Lightshot\\\\Lightshot.lnk
Type=Application
StartupNotify=true
Path=/config/.wine/dosdevices/c:/Program Files (x86)/Skillbrains/lightshot
Icon=DBFC_Lightshot.0
StartupWMClass=lightshot.exe
