[Desktop Entry]
Icon=text-html
Name=thankyou_desktop.html
Type=Link
URL[$e]=http://app.prntscr.com/thankyou_desktop.html#install_source=default
X-KDE-LastOpenedWith=brave-browser
